{% extends "layout.html" %}

{% block head %}
{% include "components/seo/post.html" %}

<link rel="stylesheet" href="/assets/css/post.min.css">
<link rel="stylesheet" href="/assets/css/dracula.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="content-wrapper">
    <div class="main-content prose prose-lg min-h-screen">
      <div class="article-metadata">
        <span class="article-date">{{ date }}</span>
      </div>

      {{ content | safe }}
    </div>
    
    <div class="toc-container" id="toc">
      <div class="toc-title">
        Contents
      </div>
      <ul class="toc-list" id="toc-list">
      </ul>
    </div>
  </div>
</div>

{% call super() %}
{% endblock %}

{% block scripts %}
{% include "components/article/highlight.html" %}
<script src="/assets/js/post/post.min.js"></script>

<!-- Add KaTeX JS -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('span.math').forEach(function(el) {
      const isDisplay = el.classList.contains('math-display');
      const texContent = el.textContent;
      
      katex.render(texContent, el, {
        displayMode: isDisplay,
        throwOnError: false,
        output: 'html'
      });
    });
  });
</script>
{% endblock %}
