
{% set seo_title = "Software Engineering & System Design" %}
{% set seo_description = "A developer's blog sharing reflective posts on personal experiences, system design, Rust/Go, to help others navigate their programming journey" %}
{% set seo_keywords = "backend development, system design, database modeling, performance tuning, Rust programming, Go programming, backend architecture, engineering notes, software development blog, developer experiences, journey into programming" %}
{% set seo_image = "https://res.cloudinary.com/ddhhebpcx/image/upload/f_auto,q_auto/v1/web/logo/logo.png" %}
{% set base_domain = &crate::config::ENV.domain.trim_end_matches('/') %}

<title>{% block title %}{{ title }}{% endblock %} | {{ seo_title }} </title>
<meta name="description"
  content="{{ seo_description }}">
<meta name="author" content="{{ crate::util::AUTHOR }}">
<meta name="keywords"
  content="{{ seo_keywords }}">

<meta property="og:title" content="{{ title }} | {{ seo_title }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ base_domain }}{{ path }}">
<meta property="og:description"
  content="{{ seo_description }}">
<meta property="og:image" content="{{ seo_image }}">

<meta property="twitter:title"
  content="{{ title }} | {{ seo_title }}">
<meta property="twitter:card" content="summary">
<meta property="twitter:url" content="{{ base_domain }}{{ path }}">
<meta property="twitter:description"
  content="{{ seo_description }}">
<meta property="twitter:image" content="{{ seo_image }}">
<meta name="twitter:creator" content="{{ crate::util::AUTHOR_TWITTER }}">

<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ base_domain }}{{ path }}" />

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "ProfilePage",
    "headline": "{{ title }}",
    "description": "{{ seo_description }}",
    "author": {
      "@type": "Person",
      "name": "{{ crate::util::AUTHOR }}",
      "jobTitle": "Software Developer",
      "url": "{{ base_domain }}{{ path }}"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "{{ base_domain }}{{ path }}"
    }
  }
</script>
