{% extends "tabs.html" %}

{% block head %}
<title>List | Backend Development &amp; System Design </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="language" content="English">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block tab_content %}
<div class="space-y-4">
  {% for object in objects %}
  <div id="{{ object.path }}" class="bg-gray-800 p-4 rounded-lg border border-[#44475a] hover:shadow-md transition">
    <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center gap-4">
      <div>
        <div class="text-sm font-[JetBrains_Mono] text-[#50fa7b]/80">
          <span class="text-[#ff79c6]/80">path</span>: <span class="text-gray-300">{{ object.path }}</span>
        </div>
        <div class="text-sm font-[JetBrains_Mono] text-[#50fa7b]/80 mt-1">
          <span class="text-[#ff79c6]/80">size</span>: <span class="text-gray-300">{{ object.size }} bytes</span>
        </div>
        <div class="text-sm font-[JetBrains_Mono] text-[#50fa7b]/80 mt-1">
          <span class="text-[#ff79c6]/80">last_modified</span>: <span class="text-gray-300">{{ object.modified }}</span>
        </div>
      </div>
      <div class="flex justify-end sm:justify-start gap-2">
        <button onclick="navigator.clipboard.writeText('https://blob.vinuka.dev/{{ object.path }}')" trarget="_blank"
          rel="noopener noreferrer"
          class="mt-2 sm:mt-0 px-4 py-2 bg-[#44475a] hover:bg-green-400 hover:text-gray-900 text-gray-300 font-[JetBrains_Mono] text-sm rounded-md transition">
          Copy
        </button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{% endblock %}
