<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% include "components/icons.html" %}

  <script src="/assets/js/htmx.min.js"></script>

  <link href="/assets/css/styles.css" rel="stylesheet">
  {% block head %}{% endblock %}

  <link href="/assets/css/fontawesome/css/fontawesome.min.css" rel="stylesheet">
  <link href="/assets/css/fontawesome/css/brands.min.css" rel="stylesheet">
  <link href="/assets/css/fontawesome/css/solid.min.css" rel="stylesheet">
  <link href="/assets/css/fontawesome/css/regular.min.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
    rel="stylesheet">
</head>

<body class="bg-gray-900 text-gray-100 min-h-screen flex flex-col">
  <div class="container mx-auto px-4 max-w-3xl flex-grow">
    <!-- Navigation -->
    <nav class="py-6 flex justify-center">
      <div class="flex space-x-8 text-sm">
        <a href="/" class="hover:text-green-400 transition">Home</a>
        <a href="/blog/1" class="hover:text-green-400 transition">Blog</a>
        <a href="/about" class="hover:text-green-400 transition">About</a>
      </div>
    </nav>

    {% block content %}
    {% endblock %}
  </div>

  <!-- Footer -->
  <footer class="py-8 text-center text-sm text-gray-400">
    <div class="mb-2">
      <a href="#" class="hover:text-green-400 transition mx-2"></a>
    </div>
    <div>
      © 2025 <a href="/" class="hover:text-green-400 transition">{{ crate::util::AUTHOR }}</a>. All rights reserved.
    </div>
  </footer>

  {% block scripts %}{% endblock %}
</body>

</html>
